.footer {
  background-color: var(--quaternary-color);
}
  
.footer .container {
  display: flex;
  align-items: baseline;
}
  
.left-side {
  margin-right: 70px;
}
  
.address__home {
  color: var(--tertiary-color);
}
  
.logo--dark-theme {
  padding-bottom: 20px;
}
  
.address__mailto,
.address__phone {
  color: rgba(255, 255, 255, 0.6);
}
  
.address__home,
.address__mailto,
.address__phone {
  padding-bottom: 9px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--secondary-color);
  }
}
  
.middle-side {
  display: block;
  margin-right: 78px;
}
  
.middle-side > .secondary-header,
.right-side > .secondary-header {
  padding-bottom: 20px;
}
  
.join-us__list {
  display: flex;
}
  
.join-us__item {
  display: flex;

  &:not(:last-child) {
    margin-right: 10px;
  }
}
  
.join-us__link {
  display: flex;
  width: 44px;
  height: 44px;
  fill: var(--tertiary-color);
  background-color: rgba(255, 255, 255, 0.1);; 
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    fill: var(--tertiary-color);
    background-color: var(--secondary-color);
  }
}
  
.singup__list {
  display: flex;
}
  
.singup__item {

  &:not(:last-child) {
    margin-right: 12px;
  }
}

.singup__email {
  width: 358px;
  height: 50px;
  display: flex;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  padding-left: 16px;
  align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.3);
  background: transparent;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:focus {
    outline: none;
    border-color: var(--secondary-color);
  }
}
  
.singup__item .modal-btn {
  display: flex;
  width: 200px;
  height: 50px;
  padding-left: 42px;
}
  
.singup__icon {
  width:24px;
  height: 24px;
  margin-left: 24px;
}