.our-strengths__list {
  display: flex;
  justify-content: center;
}
  
.our-strengths__item {

  &:not(:last-child) {
  margin-right: 30px;
  }
}
  
 .our-strengths__icon {
  width: 270px;
  height: 120px;
  background-color: var(--senary-color);
  border-radius: 4px;
  padding: 25px 100px;
  margin-bottom: 30px;
}
  
.our-strengths .secondary-header {
  color: var(--main-color);
  padding-bottom: 10px;
}
  
.our-strengths__text {
  width: 270px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: var(--septenary-color);
}