.button__list {
  display: flex;
  padding-bottom: 50px ;
  justify-content: center;
}
  
.button__item {

  &:hover,
  &:focus {
    color: var(--secondary-color);
  }

  &:not(:last-child) {
    margin-right: 8px;
  }
}