.social__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 32px 18px;
}
  
.social__link {
  display: flex;
  width: 44px;
  height: 44px;
  fill: var(--nonary-color);
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    fill: var(--tertiary-color);
    background-color: var(--secondary-color);
  }
}
  
.social__icon {
  width: 20px;
  height: 20px;
}  