:root {
  --main-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --main-color: #212121;
  --secondary-color: #2196f3;
  --tertiary-color: #ffffff;
  --quaternary-color: #2f303a;
  --quinary-color: #ECECEC;
  --senary-color: #f5f4fa;
  --septenary-color:  #757575;
  --octonary-color: #EEEEEE;
 --nonary-color: #AFB1B8;
}